body {
  /* background: linear-gradient(to right top, #1aa0ac, #0096b5, #008bbb, #007ebd, #3e6fb8) repeat
  scroll 0% 0% !important; */
  height: 100vh;
  background: #ffc107 repeat scroll 0% 0% !important;
}
.img-logo {
  width: 30px;
  margin-right: 10px;
}

.btn-nav {
  transition: transform 0.2s ease 0s;
}

.btn-nav:hover {
  transform: translateY(-1.5px);
}

.table-coin {
  border-radius: 10px;
  box-shadow: 0px 7px 15px 0px #a7a7a7;
  padding: 10px;
  background: rgb(236, 239, 241) none repeat scroll 0% 0%;
}

.table-coin tr {
  text-align: right;
}

.text-logo {
  text-align: left;
}

/* ============LOGIN=========== */

.card-login {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e3e6f0;
  border-radius: 0.35rem;
}

.inputCommon {
  border-radius: 25px !important;
  padding: 10px !important;
  height: auto !important;
}

.btnLogin {
  border-radius: 3px !important;
  padding: 10px !important;
  border: 2px solid #ffc107 !important;
  background-color: transparent !important;
  color: #262626 !important;
}
.btnLogin:hover {
  background-color: #ffc107 !important;
  color: #262626 !important;
}

.bg-img {
  background-color: #253337;
}
.bg-login-image {
  background: url("./assets/cripto-logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  margin-top: 100px;
}
